@model IEnumerable<ApplicationDbMovies.Models.ApplicationUser>
@{
    ViewBag.Title = "SetRoles";
    Layout = "~/Views/Shared/MasterView.cshtml";
}

<h2>Users</h2>
<table class="table">
    <tr>
        <th>Name</th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>@item.UserName</td>
        <td>@Html.ActionLink("Set Role", "SetRoleToUser", new { id = item.Id }) |</td>
    </tr>
    }
</table>

