@model IEnumerable<ApplicationDbMovies.Models.ApplicationUser>
@{
    ViewBag.Title = "SetRoles";
    Layout = "~/Views/Shared/MasterView.cshtml";
}

<h2>Users</h2>
<table class="table">
    <tr>
        <th>Name</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserName</td>            
        </tr>
    }
</table>

