@model CinemaTicketSalesSystem.Models.SetRelativeViewModel
@{
    ViewBag.Title = "SelectActors";
    Layout = "~/Views/Shared/MasterView.cshtml";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/chosen")
@Styles.Render("~/bundles/chosenStyles")


@using (Html.BeginForm())
{

    
    <label>Select Actor</label>
    @Html.ListBoxFor(m => m.ActorsSelectedIds, new MultiSelectList(Model.Actors, "Id", "FirstName"), new { @class = "chosen-select", @multiple = "true" })
    <input type="submit" value="Save" />
    <script>
        $(document).ready(function () {
            $(".chosen-select").chosen({width: "50%"});
        });
    </script>

}



