@model IEnumerable<CinemaTicketSalesSystem.ViewModels.MovieViewModel>
@{
    Layout = "/Views/Shared/MasterView.cshtml";
}
<link href="~/Content/LearnMoreCSS.css" rel="stylesheet" />
    <div class="row">
        @foreach (var m in Model)
        {
            <div class="card">                
                <img class="card-img-top" src="@Url.Content("~/Images/"+m.Url)">
                <div class="card-body">
                    <h4 class="card-title">@m.MovieName</h4>
                    <p class="card-text">@m.Description</p>
                    <a class="btn btn-primary" href="/Home/LearnMore/@m.MovieId">Learn More</a>                    
                </div>
            </div>
        }
    </div>

