
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <li>@Html.ActionLink("Login", "Login", "Account")</li>
        <li>@Html.ActionLink("Sign Up", "Register", "Account")</li>
    </div>
</body>
</html>
