@{
    Layout = "/Views/Shared/MasterView.cshtml";
}

    <div class="row">
        @foreach (var m in ViewBag.Movies)
        {
            <div class="card" style="width: 20rem; margin: 2%;">
                @*Temp image. Only for testing*@
                <img class="card-img-top" src="~/Images/Smallfoot.jpg" style="overflow: hidden">
                <div class="card-body">
                    <h4 class="card-title">@m.Name</h4>
                    <p class="card-text">@m.Description</p>
                    <a class="btn btn-primary" href="/Home/LearnMore/@m.Id">Learn More</a>                    
                </div>
            </div>            
        }
    </div>

